div {
    border-style: solid;
    border-width: 5px;
    border-color: green;
    padding: 30px;
    
}
.container {
    border-color: blue;
}

.row {
    border-color: red;
}

.list-group-item{
    border: 0;
    margin-top: 40px;
    margin-bottom: 40px;
}
body{
    background-image: url("http://hdwallpapersfactory.com/wallpaper/radioactive_orange_here_you_go_captcha_conviction_ploops_desktop_1280x800_hd-wallpaper-785711.jpg")
}
.header{
    font-size: 35px;
    text-align: center;
    color: white;
}
.text{
    color: white;
}

